@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    padding: 40px;
    margin: 0;
}

header {
    display: flex;
    gap: 80px;
}

header>button {
    padding: 10px 20px 10px;
    align-self: center;
    border: 1px solid black;
    border-radius: 4px;
    background-color: cornflowerblue;
}

#bookShelf {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bookCard {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.2fr 1fr;
}

.bookTitle {
    margin: 0;
}

.bookCard >button, .buttonLegend {
    width: 60%;
    justify-self: end;
}

.bookCard >button {
    border: 1px solid black;
    border-radius: 4px;
    max-height: 22px;
}

#bookShelf >.legend{
    font-weight: 700;
    font-size: 18px;
}

#popup-form {
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
}

.formBtns-wrapper {
    display: flex;
    gap: 20px;
}

.read {
    background-color: green;
}

.notRead {
    background-color: indianred;
}

main >#bookShelf >.legend{
    padding-top: 20px;
}

button {
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.pagesNum {
    justify-self: center;
}

.buttonLegend {
    justify-self: end;
}

.checkbox-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.formBtns-wrapper >* {
    border-radius: 4px;
    border: 1px solid grey;
    background-color: darkgray;
}